<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Password Reset</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <!-- project css file  -->
    <link rel="stylesheet" href="assets/css/e-learn.style.min.css">
</head>

<body>

<div id="elearn-layout" class="theme-black">

    <!-- main body area -->
    <div class="main p-2 py-3 p-xl-5">
        
        <!-- Body: Body -->
        <div class="body d-flex p-0 p-xl-5">
            <div class="container-xxl">

                <div class="row g-0">
                    <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center rounded-lg auth-h100">
                        <div style="max-width: 25rem;">
                            <div class="text-center mb-5">
                                <img src="assets/images/logo-icon-black.png" width="100" />&nbsp;&nbsp;<img src="assets/images/logo-black.png" width="200"  />
                            </div>
                            <div class="mb-5">
                                <h2 class="color-900 text-center">Transforming Neural Data into Actionable Insights.</h2>
                            </div>
                            <!-- Image block -->
                            <div class="text-center">
                                <img src="assets/images/login-logo-icon.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                        <div class="w-100 p-4 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
                            <!-- Form -->
                            <form class="row g-1 p-0 p-4" name="forgot-password" id="forgot-password">
                                <div class="col-12 text-center mb-5">
                                    <img src="assets/images/forgot-password.svg" class="w240 mb-4" alt="" />
                                    <h1>Forgot password?</h1>
                                    <span>Enter the email address you used when you joined and we'll send you instructions to reset your password.</span>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label class="form-label">Email address</label>
                                        <input name="email" type="email" class="form-control form-control-lg" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <button type="submit" title="" class="btn btn-lg btn-block btn-light lift text-uppercase">SUBMIT</button>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <span class="text-muted"><a href="login.html" class="text-secondary">Back to Sign in</a></span>
                                </div>
                            </form>
                            <!-- End Form -->
                            <div class="d-flex justify-content-center flex-wrap">
                                <a href="#" title="home" class="me-2 text-muted">Home</a>
                                <a href="#" title="about" class="me-2 text-muted">About Us</a>
                                <a href="#" title="faq" class="me-2 text-muted">FAQs</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Row -->
                
            </div>
        </div>

    </div>

</div>

<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script>
<script type="text/javascript" src="js/vendors/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/vendors/jquery-validation/additional-methods.min.js"></script>
<script src="js/page/forgot-password.js"></script>
</body>
</html>