{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard </title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> <!-- Favicon-->
    <!-- plugin css file  -->
    <link rel="stylesheet" href="{% static 'assets/css/carousel.min.css' %}" />
    <!-- project css file  -->
    <link rel="stylesheet" href="{% static 'assets/css/e-learn.style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>

<div id="elearn-layout" class="theme-black">
    
    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-4  me-0 sidebar-mini">
        <div class="d-flex flex-column h-100">
            <a href="index.html" class="mb-0 brand-icon">
                <span class="logo-icon" style="background: none">
                    <img src="{% static 'assets/images/logo-icon.png' %}" width="70" />
                </span>
                <span class="logo-text"><img src="{% static 'assets/images/logo.png' %}" class="img-fluid" /></span>
            </a>
            <!-- Menu: main ul -->
            <ul class="menu-list flex-grow-1 mt-3">
                <li><a class="m-link active" href="index.html"><i class="icofont-home fs-5"></i><span>Home</span></a>
                </li>
                <li><a class="m-link" href="patients.html"><i class="icofont-patient-bed"></i> <span>Patients</span></a>
                </li>
                <li><a class="m-link" href="patients.html"><i class="icofont-archive"></i> <span>Archived Patients</span></a></li>
                <li><a class="m-link" href="{% url 'patients_add' %}"><i class="icofont-plus-square"></i> <span>Add Patient</span></a></li>
                <li><a class="m-link" href="settings.html"><i class="icofont-gear"></i> <span>Settings</span></a></li>
                <li><a class="m-link" href="support.html"><i class="icofont-question-square"></i> <span>Help/Support</span></a></li>
                <li><a class="m-link" href="logout.html"><i class="icofont-logout"></i> <span>Logout</span></a></li>
            </ul>

            <!-- Theme: Switch Theme -->
            <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center justify-content-center">
                    <div class="form-check form-switch theme-switch">
                        <input class="form-check-input" type="checkbox" id="theme-switch">
                        <label class="form-check-label" for="theme-switch">Enable Dark Mode!</label>
                    </div>
                </li>
            </ul>
            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div class="header">
            <nav class="navbar py-4">
                <div class="container-xxl">
    
                    <!-- header rightbar icon -->
                    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                        <div class="dropdown notifications zindex-popover">
                            <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="icofont-alarm fs-5"></i>
                                <span class="pulse-ring"></span>
                            </a>
                            <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                                <div class="card border-0 w380">
                                    <div class="card-header border-0 p-3">
                                        <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                            <span>Notifications</span>
                                            <span class="badge text-white">14</span>
                                        </h5>
                                    </div>
                                    <div class="tab-content card-body">
                                        <div class="tab-pane fade show active">
                                            <ul class="list-unstyled list mb-0">
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="assets/images/xs/avatar1.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Molly Cornish</span> <small>2MIN</small></p>
                                                            <span class="">Added  2021-02-19 e-Learn links_no_expiration_report.csv <span class="badge bg-success">Review</span></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <div class="avatar rounded-circle no-thumbnail">DF</div>
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Diane Fisher</span> <small>13MIN</small></p>
                                                            <span class="">Server added Get Started with e-Learn.pdf</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="assets/images/xs/avatar3.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Andrea Gill</span> <small>1HR</small></p>
                                                            <span class="">Server added Document.docx</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="assets/images/xs/avatar5.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Diane Fisher</span> <small>13MIN</small></p>
                                                            <span class="">Add folder on Server</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="assets/images/xs/avatar6.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Andrea Gill</span> <small>1HR</small></p>
                                                            <span class="">Delete folder on Server</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="{% static 'assets/images/xs/avatar7.jpg' %}" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Zoe Wright</span> <small class="">1DAY</small></p>
                                                            <span class="">The generated Lorem Ipsum</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a class="card-footer text-center border-top-0" href="#"> View all notifications</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                            <div class="u-info me-2">
                                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">Justin Fisher</span></p>
                                <small>Teacher Profile</small>
                            </div>
                            <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                <img class="avatar lg rounded-circle img-thumbnail" src="{% static 'assets/images/profile-teacher.jpg' %}" alt="profile">
                            </a>
                            <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                <div class="card border-0 w280">
                                    <div class="card-body pb-0">
                                        <div class="d-flex py-1">
                                            <img class="avatar rounded-circle" src="{% static 'assets/images/profile-teacher.jpg' %}" alt="profile">
                                            <div class="flex-fill ms-3">
                                                <p class="mb-0"><span class="font-weight-bold">Justin Fisher</span></p>
                                                <small class="">justin.fisher@gamil.com</small>
                                            </div>
                                        </div>

                                        <div><hr class="dropdown-divider border-dark"></div>
                                    </div>
                                    <div class="list-group m-2 ">
                                        <a href="users.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-settings fs-6 me-3"></i>User Settings</a>
                                        <a href="ui-elements/auth-signin.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"></i>Signout</a>
                                        <div><hr class="dropdown-divider border-dark"></div>
                                        <span class="list-group-item list-group-item-action border-0"><i class="icofont-calendar fs-5 me-3"></i>5 Sept, 2024</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- menu toggler -->
                    <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                        <span class="fa fa-bars"></span>
                    </button>
    
                    <!-- main menu Search-->
                    <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                        <div class="input-group flex-nowrap input-group-lg">
                            <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>
                            <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                            <button type="button" class="input-group-text add-member-top" id="addon-wrappingone" data-bs-toggle="modal" data-bs-target="#addUser"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
    
                </div>
            </nav>
        </div>

        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row clearfix row-deck g-3">
                    <div class="col-lg-8 col-md-12 flex-column">
                        <div class="row g-3 pb-3">
                            <div class="col-md-4">
                                <div class="card color-bg-200">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar lg  rounded-1 no-thumbnail bg-lightyellow color-defult"><i class="icofont-patient-bed  fs-4"></i></div>
                                            <div class="flex-fill ms-3 text-truncate">
                                                <div class="">Patients All</div>
                                                <h5 class="mb-0 ">12</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card color-bg-200">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar lg  rounded-1 no-thumbnail bg-lightblue color-defult"><i class="icofont-patient-bed  fs-4"></i></div>
                                            <div class="flex-fill ms-3 text-truncate">
                                                <div class="">Patients Today</div>
                                                <h5 class="mb-0 ">3</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card color-bg-200">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar lg  rounded-1 no-thumbnail bg-lightgreen color-defult"><i class="icofont-patient-file  fs-4"></i></div>
                                            <div class="flex-fill ms-3 text-truncate">
                                                <div class="">All Reports</div>
                                                <h5 class="mb-0 ">22</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 color-bg-200">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-5 order-lg-2 ">
                                        <div class="text-center p-4">
                                            <img src="{% static 'assets/images/home-welcome.svg' %}" alt="..." class="img-fluid" style="max-width: 220px; height: 220px;">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7 order-lg-1 px-4">
                                        <h3 class="fw-bold ">Welcome to Your qEEG Dashboard, Alp</h3>
                                        <p class="line-height-custom">This qEEG dashboard streamlines your neurophysiological assessments. Easily upload EEG recordings, generate detailed reports, and manage patient data. Start here to optimize your workflow and enhance neurofeedback insights.</p>
                                        <a class="btn bg-secondary text-light btn-lg lift" href="http://pixelwibes.com/" target="_blank">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 color-bg-200">
                            <div class="card-header py-3">
                                <h6 class="mb-0 fw-bold ">Reports generated</h6>
                                <span>The number of reports generated over time.</span>
                            </div>
                            <div class="card-body" style="position: relative;">
                                <div class="btn-group btn-postion" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-primary" id="one_month">1M</button>
                                    <button type="button" class="btn btn-outline-primary" id="six_months">6M</button>
                                    <button type="button" class="btn btn-outline-primary active" id="one_year">1Y</button>
                                    <button type="button" class="btn btn-outline-primary" id="ytd">YTD</button>
                                    <button type="button" class="btn btn-outline-primary" id="all">ALL</button>
                                </div>
                                <div id="apex-timeline-chart"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="card-header py-3 px-0 no-bg border-0">
                                <h6 class="mb-0 fw-bold ">Scan Completion Overview</h6>
                                <span>See the count of users who have completed each of the four QEEG scans.</span>
                            </div>
                            <div class="row row-deck">
                                <div class="col-12 col-sm-12 col-md-6 mb-sm-3 mb-md-0 mb-3">
                                    <div class="card-body color-bg-200 rounded-3">
                                        <div class="info-watch d-flex justify-content-between align-items-center">
                                            <span class=" fw-bold">Links with no expiry date</span>
                                            <button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="An expiry date disables a link on specific date to help leep your files secure">
                                                <i class="bi bi-info-circle-fill "></i>
                                            </button>
                                        </div>
                                        <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0 mt-3">
                                            <li class="list-group-item py-3 color-bg-200">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar lg rounded-circle no-thumbnail no-bg"><i class="icofont-users-alt-5  fs-2"></i></div>
                                                    <div class="flex-fill ms-3">
                                                        <span class=" fw-bold">15</span>
                                                        <h6 class="mb-0 ">First QEEG database uploaded.</h6>
                                                    </div>
                                                    <button type="button" class="btn btn-dark lift"><i class="icofont-file-excel fs-6"></i></button>
                                                </div>
                                            </li>
                                            <li class="list-group-item py-3 color-bg-200">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar lg rounded-circle no-thumbnail no-bg"><i class="icofont-people  fs-2"></i></div>
                                                    <div class="flex-fill ms-3">
                                                        <span class=" fw-bold">03</span>
                                                        <h6 class="mb-0 ">Second QEEG database uploaded.</h6>
                                                    </div>
                                                    <button type="button" class="btn btn-dark lift"><i class="icofont-file-excel fs-6"></i></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 mb-md-0">
                                    <div class="card-body bg-primary rounded-3">
                                        <div class="info-watch d-flex justify-content-between align-items-center">
                                            <span class="text-white fw-bold">Links with no password</span>
                                            <button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-placement="left" title="Passwords add an extra layer of security when sharing with a link">
                                                <i class="bi bi-info-circle-fill text-white"></i>
                                            </button>
                                        </div>
                                        <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0 mt-3">
                                            <li class="list-group-item py-3 bg-primary">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar lg rounded-circle no-thumbnail no-bg"><i class="icofont-users-alt-5 text-white fs-2"></i></div>
                                                    <div class="flex-fill ms-3">
                                                        <span class="text-white fw-bold">05</span>
                                                        <h6 class="mb-0 text-white">Third QEEG database uploaded.</h6>
                                                    </div>
                                                    <button type="button" class="btn  lift bg-white "><i class="icofont-file-excel fs-6 "></i></button>
                                                </div>
                                            </li>
                                            <li class="list-group-item py-3 bg-primary">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar lg rounded-circle no-thumbnail no-bg"><i class="icofont-unique-idea text-white fs-2"></i></div>
                                                    <div class="flex-fill ms-3">
                                                        <span class="text-white fw-bold">12</span>
                                                        <h6 class="mb-0 text-white">Forth QEEG database uploaded.</h6>
                                                    </div>
                                                    <button type="button" class="btn  lift bg-white "><i class="icofont-file-excel fs-6 "></i></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 color-bg-200">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <div class="info-header">
                                    <h6 class="mb-0 fw-bold ">External File</h6>
                                    <span>Which File outside your team do members share with?</span>
                                </div>
                                <button class="btn btn-sm btn-link  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu border-0 shadow dropdown-menu-end">
                                    <li><a class="dropdown-item py-2 rounded" href="#">Last 7 days</a></li>
                                    <li><a class="dropdown-item py-2 rounded" href="#">Last 30 days</a></li>
                                    <li><a class="dropdown-item py-2 rounded" href="#">Last 60 days</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div id="apex-timeline"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card mb-3 color-bg-200">
                            <div class="card-body">
                                <div class="card-body bg-primary rounded-3 mb-4">
                                    <div class="info-watch d-flex justify-content-between align-items-center">
                                        <span class="text-white fw-bold">Quick Stats</span>
                                    </div>
                                    <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0 mt-3">
                                        <li class="list-group-item py-3 bg-primary">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar lg rounded-circle no-thumbnail no-bg"><i class="icofont-book-alt text-white fs-2"></i></div>
                                                <div class="flex-fill ms-3">
                                                    <span class="text-white fw-bold">12</span>
                                                    <h6 class="mb-0 text-white">Reports Generated Today</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item py-3 bg-primary">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar lg rounded-circle no-thumbnail no-bg"><i class="icofont-book-alt text-white fs-2"></i></div>
                                                <div class="flex-fill ms-3">
                                                    <span class="text-white fw-bold">32</span>
                                                    <h6 class="mb-0 text-white">All Time Reports Generated</h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="licences_used">
                                    <h6 class="mb-3 fw-bold ">Users with Reports</h6>
                                    <div id="apex-circle-gradient"></div>
                                    <div class="dividers-block"></div>
                                    <div class="card mb-4 shadow-sm overflow-hidden border-0">
                                        <div class="card-body overflow-hidden pb-0">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar lg  rounded-1 no-thumbnail bg-primary text-white"><i class="icofont-patient-file fs-4"></i></div>
                                                <div class="flex-fill ms-3 text-truncate">
                                                    <div class="">Uploaded EDF Files</div>
                                                    <h5 class="mb-0 ">15</h5>
                                                </div>
                                                <button type="button" class="btn btn-link text-decoration-none  rounded-1" data-bs-toggle="tooltip" data-bs-placement="left" title="The percentage of memebrs in your team out of the Licences you purchased">
                                                    <i class="bi bi-info-circle-fill "></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div id="apexspark1"></div>
                                    </div>
                                    <div class="card mb-4 shadow-sm overflow-hidden border-0">
                                        <div class="card-body overflow-hidden pb-0">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar lg  rounded-1 no-thumbnail bg-primary text-white"><i class="icofont-patient-file fs-4"></i></div>
                                                <div class="flex-fill ms-3 text-truncate">
                                                    <div class="">qEEG 1</div>
                                                    <h5 class="mb-0 ">12</h5>
                                                </div>
                                                <button type="button" class="btn btn-link text-decoration-none  rounded-1" data-bs-toggle="tooltip" data-bs-placement="left" title="The percentage of memebrs in your team out of the Active members">
                                                    <i class="bi bi-info-circle-fill "></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div id="apexspark2"></div>
                                    </div>
                                    <div class="card mb-4 shadow-sm overflow-hidden border-0">
                                        <div class="card-body overflow-hidden pb-0">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar lg  rounded-1 no-thumbnail bg-primary text-white"><i class="icofont-patient-file fs-4"></i></div>
                                                <div class="flex-fill ms-3 text-truncate">
                                                    <div class="">qEEG 2</div>
                                                    <h5 class="mb-0 ">03</h5>
                                                </div>
                                                <button type="button" class="btn btn-link text-decoration-none  rounded-1" data-bs-toggle="tooltip" data-bs-placement="left" title="The percentage of memebrs in your team out of the Licences you purchased">
                                                    <i class="bi bi-info-circle-fill "></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div id="apexspark3"></div>
                                    </div>
                                    <div class="card shadow-sm overflow-hidden border-0">
                                        <div class="card-body overflow-hidden pb-0">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar lg  rounded-1 no-thumbnail bg-primary text-white"><i class="icofont-patient-file fs-4"></i></div>
                                                <div class="flex-fill ms-3 text-truncate">
                                                    <div class="">qEEG 3</div>
                                                    <h5 class="mb-0 ">03</h5>
                                                </div>
                                                <button type="button" class="btn btn-link text-decoration-none  rounded-1" data-bs-toggle="tooltip" data-bs-placement="left" title="The percentage of memebrs in your team out of the Licences you purchased">
                                                    <i class="bi bi-info-circle-fill "></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div id="apexspark4"></div>
                                    </div>
                                </div>

                                <div class="dividers-block"></div>
                                <div class="row g-2">
                                    <div class="col-md-6">
                                        <div class="card bg-primary">
                                            <div class="card-body text-white">
                                                <i class="icofont-file-document fs-3"></i>
                                                <h6 class="mt-3 mb-0">Document</h6>
                                                <span class="text-white">1024 Files</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card bg-primary">
                                            <div class="card-body text-white">
                                                <i class="icofont-image fs-3"></i>
                                                <h6 class="mt-3 mb-0">Images</h6>
                                                <span class="text-white">10244 Files</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card bg-primary">
                                            <div class="card-body text-white">
                                                <i class="icofont-file-document fs-3"></i>
                                                <h6 class="mt-3 mb-0">Videos</h6>
                                                <span class="text-white">8456 Files</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card bg-primary">
                                            <div class="card-body text-white">
                                                <i class="icofont-ui-file fs-3"></i>
                                                <h6 class="mt-3 mb-0">Others</h6>
                                                <span class="text-white">88 Files</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
            </div>
        </div>

        <!-- Modal Members-->
        <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="addUserLabel">Manage team members</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="inviteby_email">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Members Invite" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-dark" type="button" id="button-addon2">Members Invite</button>
                        </div>
                    </div>
                    <div class="members_list">
                        <h6 class="fw-bold ">Members of e-Learn</h6>
                        <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                            <li class="list-group-item py-3 text-center text-md-start">
                                <div class="d-flex align-items-center flex-column flex-sm-column flex-md-row">
                                    <div class="no-thumbnail mb-2 mb-md-0">
                                        <img class="avatar lg rounded-circle" src="{% static 'assets/images/xs/avatar2.jpg' %}" alt="">
                                    </div>
                                    <div class="flex-fill ms-3 text-truncate">
                                        <h6 class="mb-0  fw-bold">Rachel Carr(you)</h6>
                                        <span class="text-muted">rachel.carr@gmail.com</span>
                                    </div>
                                    <div class="members-action">
                                        <span class="members-role ">Admin</span>
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="icofont-ui-settings  fs-6"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                              <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-3 text-center text-md-start">
                                <div class="d-flex align-items-center flex-column flex-sm-column flex-md-row">
                                    <div class="no-thumbnail mb-2 mb-md-0">
                                        <img class="avatar lg rounded-circle" src="{% static 'assets/images/xs/avatar3.jpg' %}" alt="">
                                    </div>
                                    <div class="flex-fill ms-3 text-truncate">
                                        <h6 class="mb-0  fw-bold">Lucas Baker<a href="#" class="link-secondary ms-2">(Resend invitation)</a></h6>
                                        <span class="text-muted">lucas.baker@gmail.com</span>
                                    </div>
                                    <div class="members-action">
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Members
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li>
                                                  <a class="dropdown-item" href="#">
                                                    <i class="icofont-check-circled"></i>
                                                        Member
                                                    <span>Can view, edit, delete, comment on and save files</span>
                                                   </a>
                                                   
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="fs-6 p-2 me-1"></i>
                                                            Admin
                                                        <span>Member, but can invite and manage team members</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="icofont-ui-settings  fs-6"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Delete Member</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-3 text-center text-md-start">
                                <div class="d-flex align-items-center flex-column flex-sm-column flex-md-row">
                                    <div class="no-thumbnail mb-2 mb-md-0">
                                        <img class="avatar lg rounded-circle" src="% static 'assets/images/xs/avatar8.jpg' %" alt="">
                                    </div>
                                    <div class="flex-fill ms-3 text-truncate">
                                        <h6 class="mb-0  fw-bold">Una Coleman</h6>
                                        <span class="text-muted">una.coleman@gmail.com</span>
                                    </div>
                                    <div class="members-action">
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Members
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li>
                                                  <a class="dropdown-item" href="#">
                                                    <i class="icofont-check-circled"></i>
                                                        Member
                                                    <span>Can view, edit, delete, comment on and save files</span>
                                                   </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="fs-6 p-2 me-1"></i>
                                                            Admin
                                                        <span>Member, but can invite and manage team members</span>
                                                       </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <div class="btn-group">
                                                <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="icofont-ui-settings  fs-6"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Suspend member</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-not-allowed fs-6 me-2"></i>Delete Member</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>

<!-- Plugin Js-->
<script src="{% static 'assets/bundles/carousel.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/apexcharts.bundle.js' %}"></script>

<!-- Jquery Page Js -->
<script src="% static 'js/template.js' %"></script>
<script src="% static 'js/page/index.js' %"></script>

</body>
</html>
