body {
    @include transition(ease .1s);
    background-color: var(--body-color);
    color: var(--text-color);
    font-weight: $font-weight-normal;
    font-family: $font-opensans;
    font-size: 14px;

    &.font-opensans{
        font-family: $font-opensans;
    }
    &.font-quicksand{
        font-family: $font-quicksand;
        font-size: 15px;
    }
    &.font-nunito{
        font-family: $font-nunito;
        font-size: 15px;
    }
    &.font-raleway{
        font-family: $font-raleway;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: var(--secondary-color);
    }
}

.brand-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .logo-icon{
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        border-radius: 50%;
        background-color: var(--white-color);
        margin: inherit;
        line-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 50px;
            path{
                fill: var(--primary-color);
            }
        }
    }
    .logo-text{
        font-weight: bold;
        color: var(--white-color);
        font-size: 21px;
        display: inline-block;
        padding-left: 15px;
    }
}

.pulse {
    .pulse-ring {
        border-color: var(--primary-color);
        display: block;
        position: absolute;
        -webkit-animation: animation-pulse 3.5s ease-out;
        animation: animation-pulse 3.5s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        border-style: solid;
        top: 0;
        left: 3px;
        border-radius: 45px;
        height: 45px;
        width: 45px;
        opacity: 0;
        border-width: 5px;
    }

    &::after{
        display: none;
    }

    @-webkit-keyframes animation-pulse {
        0% {
            -webkit-transform: scale(0.1, 0.1);
            opacity: 0.0; 
        }
        60% {
            -webkit-transform: scale(0.1, 0.1);
            opacity: 0.0;
        }
        65% {
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1.2, 1.2);
            opacity: 0.0;
        }
    }
      
    @keyframes animation-pulse {
        0% {
            -webkit-transform: scale(0.1, 0.1);
            opacity: 0.0;
        }
        60% {
            -webkit-transform: scale(0.1, 0.1);
            opacity: 0.0;
        }
        65% {
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1.2, 1.2);
            opacity: 0.0;
        }
    }
}
a{
    color: var(--text-color);
}
//date&time
.form-control#datepicker,.form-control#timepicker,.form-control#datepicker2,.form-control#datepicker3,.form-control#timepicker2,.form-control#timepicker3{
    -webkit-appearance: none;
  -moz-appearance: none;
}
// header notifications 
.notifications {
    z-index: 9999 !important;
    .pulse,
    .pulse:focus{
        color: var(--text-color) !important;
    }
    .card{
        .card-header{
            background-color: var(--primary-color);
            color: $white;

            .nav-tabs{
                
                .nav-link{
                    color: rgba($white, .2);
                    font-size: 1rem;
                    border: 0;

                    &.active,
                    &:hover{
                        color: var(--secondary-color);
                        background-color: transparent;

                        &::after{
                            content: '';
                            width: 7px;
                            height: 7px;
                            background-color: var(--secondary-color);
                            display: block;
                            border-radius: 50%;
                            margin: 5px auto 0;
                        }
                    }
                }
            }
        }
        .list{
            @include overflow(scroll);
            height: 330px;
            overflow-y: auto;
        }
    }
    .dropdown-menu{

        @media only screen and (max-width:  $break-small - 1px) {
            width: 280px;
        }
        @media only screen and (max-width:  320px) {
          width: 220px;
        }
        .w380{
            @media only screen and (max-width:  $break-small - 1px) {
                width: 280px;
            }
            @media only screen and (max-width:  320px) {
              width: 220px;
            }
        }
    }
}

// carousel
.team_members{
    .owl-carousel{
        .owl-stage{
            right:21px;
        }
        .owl-nav{
            .owl-prev{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0px;
            }
            .owl-next{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0px;
            }
        }
        .item{
            h6{
                position: absolute;
                bottom: 5px;
                padding: 8px 6px;
                background-color: rgba(0,0,0,0.2);
                color: #fff;
                left: 50%;
                transform: translateX(-50%);
                width: 91%;
                font-size: 12px;
            }
        }
    }
    &.video-list{
        .owl-carousel{
            .owl-stage{
                right:0;
            }
        }
        .video-live{
            position: absolute;
            right: 5px;
            top:8px;
            .person-status{
                background-color: var(--primary-color);
                border-radius: 0.25rem 0 0 0.25rem;
            }
        }
        .video-setting-icon{
            position: absolute;
            bottom: 25px;
            left:10px;
        }
    }
}

// for card 
.row-deck {
    >.col,
    >[class*='col-']{
        display: flex;
        align-items: stretch;
        .card{
            flex: 1 1 auto;
        }
    }
}

// apex chart line and text color
.apexcharts-canvas{
	line{
		stroke: var(--border-color);
	}
	text{
		fill: var(--color-500);
	}
	circle{
		stroke: var(--border-color);
	}
	.apexcharts-legend-text{
		color: var(--color-500) !important;
	}
}

.sparkline_chart{
    canvas{
        width: 100% !important;
    }
}

// Do not add in project
:not(pre) > code[class*="language-"], pre[class*="language-"]{
    background: var(--color-100) !important;
}
code[class*="language-"], pre[class*="language-"]{
    text-shadow: none !important;
    color: var(--color-000) !important;
}

//Side navbar
.side-navbar{
    li{
        margin-bottom: 5px;
        a{
            color: var(--text-color);
        }
    }
}
.btn-outline-secondary.btn-block{
    color: #fff !important;
}

//basic Comman
.teacher-fulldeatil{
    @media only screen and (max-width: $break-xxsmall) {
        flex-direction: column;
    }
    .teacher-info{
        &.border-start{
            @media only screen and (max-width: $break-xxsmall) {
                border-left: 0px !important;
                padding-left: 0px !important;
            }
        }
    }
    .profile-teacher{
        @media only screen and (max-width: $break-xxsmall) {
            text-align: left !important;
        }
    }
    .about-info{
        @media only screen and (max-width: $break-xxsmall) {
           justify-content: flex-start !important;
        }
    }
}

.navbar-toggler:focus{
    box-shadow: none;
}
.set-md-img{
    @media only screen and (max-width: $break-large - 1px) {
       max-width: 225px;
    }
}
.line-color{
    .apexcharts-canvas {
        line {
            stroke: var(--card-color) !important;
        }
    }
}
.shared-table{
    @media only screen and (max-width: $break-xxsmall) {
        .nav-link{
            padding: 5px 12px;
        }
    }
}
@media only screen and (max-width: $break-xxsmall + 40) {
    .teacher-card{
        .card-body{
            flex-direction: column;
            .profile-teacher{
                padding-right: 0px !important;
                &.w220{
                    width: 100%;
                }
                .about-info{
                    justify-content: center !important;
                }
            }
            .teacher-info{
                padding-left: 0px !important;
                border-color: transparent !important;
                text-align: center;
                .social{
                    justify-content: center;
                }
            }
        }
    }
}
@media only screen and (max-width: $break-xxsmall) {
    .bunch_list{
        flex-direction: column;
        .task_status,.lesson_name,.assignment_name,.submit_time,.complited_time{
            margin:3px 0px;
        }
    }
}
